@charset "utf-8";
/* CSS Document */

.tabla2{
	width: 60%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	background: #fafafa;  
	background-image: linear-gradient(top, #fff, #009B6C, #fff);
}

.tabla2 thead th:first-child{
	-moz-border-radius-topleft: 16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
}

.tabla2 thead th:last-child{
	border-top:solid 3px #009B6C;
	border-right:solid 3px #009B6C;
	border-left:solid 3px #009B6C;
	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;
}

.tabla2 tfoot td:first-child{
	border-right:solid 3px #009B6C;
	border-left:solid 3px #009B6C;
	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;
}

.tabla2 tfoot td:last-child{
	border-bottom:solid 3px #009B6C;
	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;
}

.tabla2 tbody tr td:first-child{
	border-left:solid 3px #009B6C;
}

.tabla2 tbody tr td:last-child{
	border-right:solid 3px #009B6C;
}
.boton3{
	background-color:#009B6C;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:0px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#fffcff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 140px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.padboton3{
	margin-top: 10px;
}
.boton3:hover {
	background-color:#828580;
}
.boton3:active {
	position:relative;
	top:1px;
}

.boton2{
	cursor:pointer;
	cursor:hand; /*internet explorer*/
	border: 1px #666;
	padding:3px;
	width:100px;
	height:30px;
	font-family:Arial;
	font-size:16px;
/*    font-weight:bold; */

	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#009B6C));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #009B6C);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #009B6C);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #009B6C);/*El estandar por defecto*/
	
	-webkit-text-fill-color: #333;
}

input[type=text]{
	padding:5px;
}

::-webkit-input-placeholder { color:#999; font-style:italic; font-weight:lighter; }
::-moz-placeholder { color:#999; font-style:italic; font-weight:lighter;} /* firefox 19+ */
:-ms-input-placeholder { color:#999; font-style:italic; font-weight:lighter;} /* ie */
input:-moz-placeholder { color:#999; font-style:italic; font-weight:lighter;}

.encabezadoNew{
   background-color:#009B6C;
   border:solid 3px #009B6C;
   -moz-border-radius: 10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   width:100%;
   text-align:center;
   
 }
 
 .encabezadoMod{
   background-color:#009B6C;
   border:solid 3px #009B6C;
   -moz-border-radius: 10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   text-align:center;
   
 }
 
.tablaMod{
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	color: #fff;
	background: #fafafa;  
	background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.tablaMod thead th:first-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	-moz-border-radius-topleft: 16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
}

.tablaMod thead th:last-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;
}

.tablaMod thead th{
	background-color:#009B6C;
	border:solid 3px #009B6C;
}

 
.tablaMod tfoot td:first-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	border-top:solid 2px #009B6C;
	border-bottom:solid 2px #009B6C;

	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;
}

.tablaMod tfoot td:last-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	border-top:solid 2px #009B6C;
	border-bottom:solid 2px #009B6C;

	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;
}

.tablaMod tfoot td:nth-last-child(2){
	background-color:##009B6C;
	border:solid 3px ##009B6C;
	border-bottom:solid 2px #009B6C;
}

.tablaMod tbody tr td:first-child{
	border-left:solid 2px #009B6C;
}

.tablaMod tbody tr td:last-child{
	border-right:solid 2px #009B6C;
}

.tablaMod td{
	color:#666;
	border:solid 1px #F9F9F9;	
}

.tabla{
	width: 100%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	color: #fff;
	background: #fafafa;  
	background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.tabla thead th:first-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	-moz-border-radius-topleft: 16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
}

.tabla thead th:last-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;
}

.tabla thead th{
	background-color:#009B6C;
	border:solid 3px #009B6C;
}

 
.celda{
	background-color: rgba(0, 155, 108, 0.5);
	border-style:none;
}

.tabla tfoot td:first-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	border-top:solid 2px #009B6C;
	border-bottom:solid 2px #009B6C;

	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;
}

.tabla tfoot td:last-child{
	background-color:#009B6C;
	border:solid 3px #009B6C;
	border-top:solid 2px #009B6C;
	border-bottom:solid 2px #009B6C;

	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;
}

.tabla tfoot td:nth-last-child(2){
	background-color:##009B6C;
	border:solid 3px ##009B6C;
	border-bottom:solid 2px #009B6C;
}

.tabla tbody tr td:first-child{
	border-left:solid 2px #009B6C;
}

.tabla tbody tr td:last-child{
	border-right:solid 2px #009B6C;
}

.tabla td{
	color:#666;
	border:solid 1px #F9F9F9;	
}

.tablaP {
	width: 60%;
	margin: 0 auto;
	
	border-collapse: separate;
	border-spacing: 0;
 
	
    -moz-border-radius: 16px;
	-webkit-border-radius:16px;
	border-radius:16px;

	
	
	border:solid 3px #009B6C;
}

.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}


.btn1 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 3px solid transparent;
  border-radius: 40px;
  padding: 10px 16px;
}
  
.btn1-guardar {
  color: #04B45F; /* letra */
  background-color: #fff; /* Background */
  border-color: !important 20px solid #04B45F;
  
   
}

.btn1-guardar:hover,
.btn1-guardar:focus,
.btn1-guardar:active,
.btn1-guardar.active,
.open .dropdown-toggle.btn1-guardar {
  color: #fff;
  background-color: #04B45F;
  border-color: #04B45F;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn1.outline {
  background: none;
  padding: 12px 22px;
}
.btn1-guardar.outline {
  border: 2px solid #04B45F;
  color: #04B45F;
}
.btn1-guardar.outline:hover, .btn1-guardar.outline:focus, .btn1-guardar.outline:active, .btn1-guardar.outline.active, .open > .dropdown-toggle.btn1-guardar {
  color: #fff;
  border-color: #04B45F;
  background: #04B45F;
}
.btn1-guardar.outline:active, .btn1-guardar.outline.active {
  border-color: #04B45F;
  color: #04B45F;
  box-shadow: none;
}

/***********************
  CUSTOM BTN1 VALUES
************************/

.btn1 {
  padding: 14px 24px;
  border: 2px solid #04B45F;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn1:focus, .btn1:active:focus, .btn1.active:focus {
  outline: 0 none;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 3px solid transparent;
  border-radius: 40px;
  padding: 10px 16px;
}
  
.btn2-volver {
  color: #FE2E64; /* letra */
  background-color: #fff; /* Background */
  border-color: !important 20px solid #FE2E64;
  
   
}

.btn2-volver:hover,
.btn2-volver:focus,
.btn2-volver:active,
.btn2-volver.active,
.open .dropdown-toggle.btn2-volver {
  color: #fff;
  background-color: #FE2E64;
  border-color: #FE2E64;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn2.outline {
  background: none;
  padding: 12px 22px;
}
.btn2-volver.outline {
  border: 2px solid #FE2E64;
  color: #FE2E64;
}
.btn2-volver.outline:hover, .btn2-volver.outline:focus, .btn2-volver.outline:active, .btn2-volver.outline.active, .open > .dropdown-toggle.btn2-volver {
  color: #fff;
  border-color: #FE2E64;
  background: #FE2E64;
}
.btn2-volver.outline:active, .btn2-volver.outline.active {
  border-color: #FE2E64;
  color: #FE2E64;
  box-shadow: none;
}

/***********************
  CUSTOM BTN2 VALUES
************************/

.btn2 {
  padding: 14px 24px;
  border: 2px solid #FE2E64;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn2:focus, .btn2:active:focus, .btn2.active:focus {
  outline: 0 none;
}

                /**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn3 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 3px solid transparent;
  border-radius: 40px;
  padding: 10px 16px;
}
  
.btn3-edit {

  color: #226666; /* letra */
  background-color: #fff; /* Background */
  border-color: !important 20px solid #226666;
  
   
}

.btn3-edit:hover,
.btn3-edit:focus,
.btn3-edit:active,
.btn3-edit.active,
.open .dropdown-toggle.btn3-edit {
  color: #fff;
  background-color: #226666;
  border-color: #226666;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn3.outline {
  background: none;
  padding: 12px 22px;
}
.btn3-edit.outline {
  border: 2px solid #226666;
  color: #226666;
}
.btn3-edit.outline:hover, .btn3-edit.outline:focus, .btn3-edit.outline:active, .btn3-edit.outline.active, .open > .dropdown-toggle.btn3-edit {
  color: #fff;
  border-color: #226666;
  background: #226666;
}
.btn3-edit.outline:active, .btn3-edit.outline.active {
  border-color: #226666;
  color: #226666;
  box-shadow: none;
}

/***********************
  CUSTOM BTN3 VALUES
************************/

.btn3 {
  padding: 14px 24px;
  border: 2px solid #226666;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn3:focus, .btn3:active:focus, .btn3.active:focus {
  outline: 0 none;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn4 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 3px solid transparent;
  border-radius: 40px;
  padding: 10px 16px;
}
  
.btn4-azul {
  color: #04B4AE; /* letra */
  background-color: #fff; /* Background */
  border-color: !important 20px solid #04B4AE;
  
   
}

.btn4-azul:hover,
.btn4-azul:focus,
.btn4-azul:active,
.btn4-azul.active,
.open .dropdown-toggle.btn4-azul {
  color: #fff;
  background-color: #04B4AE;
  border-color: #04B4AE;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn4.outline {
  background: none;
  padding: 12px 22px;
}
.btn4-azul.outline {
  border: 2px solid #04B4AE;
  color: #04B4AE;
}
.btn4-azul.outline:hover, .btn4-azul.outline:focus, .btn4-azul.outline:active, .btn4-azul.outline.active, .open > .dropdown-toggle.btn4-azul {
  color: #fff;
  border-color: #04B4AE;
  background: #04B4AE;
}
.btn4-azul.outline:active, .btn4-azul.outline.active {
  border-color: #04B4AE;
  color: #04B4AE;
  box-shadow: none;
}

/***********************
  CUSTOM BTN4 VALUES
************************/

.btn4 {
  padding: 14px 24px;
  border: 2px solid #04B4AE;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn4:focus, .btn4:active:focus, .btn4.active:focus {
  outline: 0 none;
}


